@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Emmasco Travels</h1>
    <p> <a href="#">
    <img src="image1/build1.jpg" width="400" height="450" alt="Home picture"/>




    </a>    
    </p>
</div>

<section class="course">
    <div class="fine" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="400">
        <h1>TRAVEL WITH EMMASCO TEAM</h1>
        <h2>Services we provide</h2>
    </div>
    <div class="row">
        <div class="courseCol" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="400">
            <h3>Packages</h3><br>
            <img src="images/suitcase.png">
            <p>Our travel packages offer flexible travel packages, expert guidance, and seamless experiences, ensuring your journey is stress-free and unforgettable, with options tailored to fit every interest and budget.</p>
        </div>


        <div class="courseCol" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="400">
            <h3>Flights</h3><br>
            <img src="images/plane.png">
            <p>Book your flights with us for convenient, affordable, and hassle-free travel to destinations worldwide, with versatile options to suit your schedule and preferences, ensuring a journey from departure to arrival.</p>
        </div>


        <div class="courseCol" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="400">
            <h3>Airline Ticketing</h3><br>
            <img src="images/airline-ticket.png">
            <p>Get your airline tickets booked with us for a hassle-free experience, with options to suit your schedule and budget, ensuring convenient travel to your desired destination, with flexibility and affordability.</p>
        </div>
    </div>
    <a href="services.html"><button>Read more</button></a>
</section>
